$primary-color: #901C1C;
$secondary-color: #D3573C;
$secondary-background-color: #DB8876;
$tertiary-color: #000;

$main-font: 'DM Sans', sans-serif;

$breakpoints: (
    mobile: 767px,
    tablet: 1439px
);

$modal-duration: 800ms;