.accueil-photographers{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.accueil-photographers__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    text-align: center;
    flex-basis: 33%;
    @include mobile{
        width: 100%;
    }
    a:hover, a:focus{
        @include focus-scale;
        outline: none;
        h2{
            color: $primary-color;
        }
    }
    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        @include box-shadow;
    }
    h2{
        font-size: 3.6rem;
        padding: 1rem;
    }
    p{
        padding: .2rem;
    }
    &-content{
        @include main-border-radius;
        &:hover, &:focus{
            @include focus-scale;
            outline: none;
            box-shadow: 0 0 0 .2rem $primary-color;
        }
        &--location{
            font-size: 1.3rem;
            color: $primary-color;
        }
        &--tagline{
            font-size: 1rem;
        }
        &--price{
            font-size: .9rem;
            @include font-color(46%);
        }
    }
    footer ul{
        display: flex;
    }
}