#photographer-page{
    width: 90%;
    margin: 0 auto;
}

.photographer-page__presentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include background-color(98%);
    @include main-border-radius;
    margin-top: 2rem;
    padding: 3rem;
    position: relative;
    @include mobile{
        background-color: transparent;
        padding: 0;
    }
    h1{
        font-size: 6.4rem;
        @include mobile{
            font-size: 3.6rem;
            line-height: 4.7rem;
        }
    }
    p{
        padding: 1rem 0;
        @include mobile{
            font-size: 1.3rem;
            padding: .25rem 0;
            line-height: 1.7rem;
        }
    }
    &-content{
        position: relative;
        flex-basis: 50%;
        &--location{
            font-size: 2.4rem;
            color: $primary-color;            
        }
        &--tagline{
            font-size: 1.8rem;
            @include font-color(33%);
        }
    }
    img{
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 50%;
        @include box-shadow;
        @include mobile{
            position: absolute;
            right: 0;
            top : -10%;
            width: 10rem;
            height: 10rem;
        }
    }
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .contact-button{
        position: absolute;
        top: 0;
        right: 0;
        white-space: nowrap;
        @include tablet{
            right: -35%;
        }
        @include mobile{
            position: fixed;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

#photographer-medias{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 4rem auto;
    font-size: 2.4rem;
    figure, div{
        width: 35rem;
        margin-bottom: 2rem;
    }
    img, video{
        width: 100%;
        height: 30rem;
        object-fit: cover;
        transition: transform 100ms ease-out;
        @include main-border-radius;
        @include mobile {
            width: 100%;
            height: 19rem;
        }
    }
    a{
        outline: none; 
        &:focus img, &:hover img, &:hover video, &:focus video{
        @include focus-scale;
        }
    }
    
    figcaption{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-color;
        p{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        button{
            background: transparent;
            outline: none;
            &:hover svg, &:focus svg{
                @include focus-scale;
                fill: $secondary-color;
            }
        }
        svg{
            fill: $primary-color;
        }
    }
}

.photographer-medias__filter{
    padding: 2rem 0 6rem;
    @include mobile{
        display: none;
    }
    &-area{
        display: inline-block;
        position: relative;
    }
    p{
        font-size: 1.8rem;
        font-weight: bold;
        display: inline-block;
        padding-right: 2.5rem;
    }
}