.photographer-footer{
    background-color: $secondary-background-color;
    position: fixed;
    bottom: -1rem;
    right: 5%;
    // padding: 2rem 3rem;
    font-size: 2.4rem;
    font-weight: 500;
    @include mobile{
        display: none;
    }
    @include main-border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    .photographer-footer__likes, .photographer-footer__price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3.5rem;
    }
    &:hover, &:focus{
        @include focus-scale;
        outline: none;
        box-shadow: 0 0 0 .2rem $primary-color;
    }
}