header{
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    // flex-basis: 75%;
    @include mobile{
        position: static;
    }
}

.header-logo{
    width: 30rem;
    // padding: 1rem;
}