header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: .6rem auto;
    padding: .7rem 0;
    a{
        outline: none;
        &:hover .header__logo, &:focus .header__logo{
            fill: $secondary-color;
            @include focus-scale;
        }
    }
    h1:hover, h1:focus{
        outline: none;
        @include focus-scale;
        color: $secondary-color;
    }
}

.header__logo{
    width: 20rem;
    fill: $primary-color;
    @include mobile{
        width: 15rem;
    }
}